<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <pwcshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>PWC\CustomShipping\Model\Carrier\Shipping</model>
                <name>PWC Shipping Method</name>
                <title>PWC Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </pwcshipping>
        </carriers>
    </default>
</config>